/*=============
Custom
==============*/

header{
    border-bottom: 1px solid #ccc;
    margin: 0.5em auto 3em;
    max-width: 92%;
}

header h1{
    text-align: center;
}

header ul{
    list-style: none;
    margin: 1.5em auto;
    padding: 0;
    text-align: center;
}

header ul li{
    margin: 0 0 0.5em;
    padding: 0;
}

img{
    width: 100%;
    height: auto;
}

.description{
    margin: 1.5em auto;
    max-width: 550px;
    width: 100%;
}

.desktop{
    width: 100%;
    max-width: 1600px;
    margin: 1.5em auto;
}

.mobile{
    width: 100%;
    max-width: 360px;
    margin: 1.5em auto;
}